{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    {% render_block "css" %}
    <!--<style type="text/css">
        .nav {
            padding-left: 0;
        }
        .nav li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
    </style>-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    {% block page_css %}
    {% endblock page_css %}
</head>
<body>
  {% cms_toolbar %}
    <div class="container-fluid">
      <header>
      <div class="row">
        <div class="col-md-12">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% show_menu 0 1 100 100 "menu.html" %}
            </ul>
          </div>
        </div>
      </div>
      </header>
       <!-- <div class="row">
          <div class="col-md-4">
            <img class="img-responsive logo" src="/static/images/aea.png">
          </div>
        </div>-->
      <div class="row">
        <div class="col-md-12">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
      <footer>
        <div class="row">
          <div class="col-md-12">
          
          </div>
        </div>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!--<div style="width: 940px; margin:0 auto">
    <ul class="nav">
        {% show_menu 0 100 100 100 %}
    </ul>
</div>-->
{% render_block "js" %}
</body>
</html>
